/* Global */
:root{
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* 기본적인 세팅  */
h1,h2,h3,p,ul{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}
button:focus{
    outline: 1px solid transparent;
}
/* Common */
.section{
    padding: 4rem;
    text-align: center;

}
.title{
    font-size: 2.5rem;
    margin: 1rem 0;

}
.description{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
/* Header */
.header{
    background-color:transparent;
    position: fixed;
    top:0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 300ms ease;
}
.header--dark{
    background-color: var(--color-primary);
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap:8px;
}
.header__logo__img{
    width: 36px;
    height: 36px;
}
.header__logo_title{
    font-size: 1.8rem;
}
.header__toggle{
    display: none;
    color: var(--color-white);
    font-size: 1.5rem;
    position: absolute;
    top:1rem;
    right: 1rem;
}
.header__menu{
    display: flex;
    gap: 4px;
}
.header__menu.open{
    display: flex;
}
.header__menu__item{
    display: block;
    padding: 8px 16px;
    border-bottom: 1px solid transparent;
}
.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}
  
.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
  }

/* Home */
#home{
    background-color: var(--color-black);
    color:var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__title{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home__description{
    font-size: 1.3rem;
}
.home__contact{
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    font-size:x-large;
}

.home__contact:hover{
    background-color: transparent;
    color:var(--color-text);
    outline: 2px solid var(--color-accent);
}

.posters{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
.poster{
    margin-top: 20px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    /* width: 80%; */
    height: 80%;
}

.poster__img{
    width: 100%;
}
.poster__metadata{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in;
    transform: translate(-10px);
}
.poster__metadata:hover{
    opacity: 0.8;
    transform: translateY(0px);
}
/* about */
.picstar__instagram{
    color:var(--color-primary);
}
.picstar__instagram:hover{
    color:var(--color-accent);
}
/* picSTAR 전시관*/
#picSTAR {
    background-color: var(--color-primary);
    color: var(--color-text);

}
.categories{
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap:1rem;
}
.category{
    position: relative;
    color: var(--color-text);
    font-size: 1.1rem;
    padding: 0.5rem 2.5rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}
.category--selected{
    background-color: var(--color-accent);
    color:var(--color-primary);
}
.category__count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 100%;
    background-color: var(--color-accent-variant);
    color: var(--color-text);
    transition: all 250ms ease-in;
}
.category--selected .category__count,
.category:hover .category__count{
    opacity: 1;
    top:0;
}

.pictures{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    margin-left: 18px;
    margin-right: 18px;
    transition: all 250ms ease-out;

}
.pictures.anim-out{
    opacity: 0;
    transform: scale(0.96) translateY(20px);
}

.picture{
    position: relative;
    border-radius: 15px;
    overflow:hidden;
    
}

.picture__img{
    width: 95%;
    height: 90%;
}

.picture__metadata{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in;
    transform: translateY(-10px);
}
.picture__title:hover{
    color:var(--color-blue);
}
.picture__metadata:hover{
    opacity: 0.8;
    transform: translateY(0px);
}
/* modal */

.modal{
    display: none; /* 모달창 숨겨 놓기 */
    position: fixed; 
    z-index: 1; /* 모달창을 제일 앞에 두기 */
    padding-top: 100px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto; /*스크롤 허용 auto */
    cursor: pointer; /* 마우스 손가락모양 */
    background-color: rgba(0, 0, 0, 0.8);
    
}
/* 모달창 이미지 */
/*
.modal_content {
    margin: auto;
    display: block;
    width: auto; height: auto;
    max-height: 10px;
    /* width: 10px; 너비 조절 */
    /* height: 10px; 높이 조절 */
    /*
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 0.8s;
}*/

.modal_content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 80vh; /* 예시로 뷰포트 높이의 80%로 설정 */
    border-radius: 10px;
    animation-name: zoom;
    animation-duration: 0.8s;
}



/* 모달창 애니메이션 추가 */
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  /* 닫기 버튼 꾸미기 */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  .close:hover, .close:focus{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


/* STAR's 굿즈제작 */
#goods{
    background-color: var(--color-primary);
    color:var(--color-text);
}
.goods__description{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.make__goods{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    transition: all 250ms ease-out;
}
.make__good{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.make__good__img{
    width:100%;
    height: 100%;
}
.goods__price{
    color:var(--color-accent);
}
.goods__check{
    font-size:smaller;
}

.goods__contact{
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin-top: 38px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    font-size:x-large;
}
.goods__contact:hover{
    background-color: transparent;
    color:var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* picSTAR 제작의뢰 */

.request__contact{
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    margin:0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 4px;
    font-size:x-large;
}
.request__contact:hover{
    background-color: transparent;
    color:var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* login */


.login-page{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form{
    position: relative;
    background:rgba(0,0,0,.5);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.form input {
    outline: 0;
    background-color: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:var(--color-accent);
    width: 60%;
    border: 0;
    padding: 15px;
    color:var(--color-black);
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 5px;
}
.form button:hover,.form button:active,.form button:focus {
    background:var(--color-white);
}
.form .message {
    margin: 15px 0 0;
    color:var(--color-black);
    font-size: 12px;
}
.form .message a {
    color:var(--color-white);
    text-decoration: none;
}
.form .register-form {
    display: none;
}

/* 팝업창 띄우기 */
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
    visibility: hidden;
	opacity: 0;
	&.light {
    background: rgba(255,255,255,0.5);
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
	margin: 75px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }
  h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    max-height: 400px;
    overflow: auto;
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin: 0;
    }
  }
}

.button {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #aaa;
	background-color: #eee;
	background-image: linear-gradient(top, #fff, #f0f0f0);
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	color: #666;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	cursor: pointer;
	transition: all 0.2s ease-out;
  &:hover {
    border-color: #999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  }
  &:active {
    box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset;
  }
}


  /* My page */
  #mypage{
    background-color: var(--color-black);
    color:var(--color-text);
  }

  @media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem;
    }
    .title{
        font-size: 2rem;
    }
    .description{
        font-size: 1rem;
    }
    .header{
        flex-direction: column;
        align-items: start;
        background-color: var(--color-primary);
    }
    .header__toggle{
        display: block;
    }
    .header__menu{
        display: none;
        flex-direction: column;
        text-align: center;
        margin: 1rem 4rem;
        gap: 1rem;
    }
    .header__nav{
        width: 100%;
    }
    #home{
        padding-bottom: 3rem;
    }
    .home__title{
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
    .categories{
        flex-direction: column;
    }
    .category{
        width: 100%;
    }
    .pictures{
        grid-template-columns: repeat(2, 1fr);
    }
    .posters{
        grid-template-columns: repeat(1, 1fr);
    }
    .poster__metadata{
        font-size:xx-small;
    }
    .make__goods{
        grid-template-columns: repeat(2, 1fr);
    }
  }